 /* Custom CSS styles */
main {
    padding-bottom: 160px;
}
  sec1 {
    padding: 20px;
    margin-bottom: 20px;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .section-title h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .sec-text strong {
    font-weight: bold;
  }

  .sec-text a {
    text-decoration: none;
    color: #CEB6B6;
  }

  .sec-text a:hover {
    text-decoration: underline;
  }

  .sec-text i {
    font-size: 16px;
    margin-right: 5px;
  }

  .wpb_map_wraper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 aspect ratio for the map */
  }

  .wpb_map_wraper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  iframe:hover {
    background-color: #CEB6B6;
    opacity: 0.8;
  }

  .sec-dec {
    height: 10px;
    margin-bottom: 20px;
  }

  .clear::after {
    content: "";
    display: table;
    clear: both;
  }


  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .container {
      max-width: 600px;
    }
    main {
      padding-bottom: 120px;
    }
  
    sec1 {
      padding: 10px;
      margin-bottom: 10px;
    }
  
    .sec-dec {
      margin-bottom: 10px;
    }
  }
  
  /* Adjusting font size and padding for even smaller screens */
  @media screen and (max-width: 480px) {
    .section-title h3 {
      font-size: 20px;
      margin-bottom: 5px;
    }
  
    .sec-text i {
      font-size: 14px;
      margin-right: 3px;
    }
  
    .sec-dec {
      height: 5px;
      margin-bottom: 10px;
    }
  
    main {
      padding-bottom: 120px;
    }
  }